*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

/*faz com que o menu fique centralizado na tela*/ 
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

/*agrupar os botões do menu em uma coluna*/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex: 1;
}

header {
    margin-top: 10px;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
}