@font-face{
    font-family: "Press Start 2P";
    src: url("PressStart2P-Regular.ttf") format("truetype");
}

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-image: url(BG_Grey.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex: 1;
}

header {
    margin-top: 10px;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.btn{
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Press Start 2P";
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover{
    align-items: center;
    transform: scale(1.2) perspective(1px);
    transition: all 0.3s ease;
    color: #ff0000;
}

footer{
    margin-top: 0px;
    padding: 5px;
}

h1{
    font-family: "Press Start 2P";
    font-size: 36px;
    color: #ffff;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

p{
    font-family: "Press Start 2P";
    font-size: 12px;
}
